<body>
<div *ngIf="alimento.tipoalimento === 'extras'"
     class="col-12 alert alert-warning alert-dismissible fade show text-center" role="alert">
  <strong>Aviso: </strong>Alimentos extra deben llevar estructura siguiente: "Nombre XX Gr", donde xx es cantidad.
  Ejemplo: Anacardos 20 Gr
  <button aria-label="Close" class="close" data-dismiss="alert" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!--<script>-->
<!--    $(function () {-->
<!--        $('[data-toggle="popover"]').popover({-->
<!--            container:'body'-->
<!--        })-->
<!--    })-->
<!--</script>-->

<div class="row mb-5">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <form #formulario="ngForm">
          <div class="form-group">
            <label for="tipoalimento">Elige Tipo: </label> <!--<i class="btn ml-2  far fa-question-circle popito" data-content="En los alimentos extra, es imprescindible que el nombre-->
<!--          lleve la siguiente estructura: [ Alimento 10 Gr ]  " data-toggle="popover"-->
<!--                                                              title="Alimentos Extra"></i>-->
            <select [(ngModel)]="alimento.tipoalimento" class="form-control" id="tipoalimento" name="tipoalimento"
                    required="true">
              <option *ngFor="let tipo of tipos" [value]="tipo">{{tipo}}</option>
            </select>
            <small>Tipo elegido: {{alimento.tipoalimento}}</small>
          </div>
          <div class="form-group">
            <input [(ngModel)]="alimento.nombre" autofocus class="form-control" name="nombre"
                   placeholder="Nombre" required="true" type="text">
            <small *ngIf="alertaExtra" style="color: red">Ha introducido mal el nombre de un alimento de categoria:
              extra</small><br>
          </div>
          <div class="form-group">
            <input [(ngModel)]="alimento.precio" class="form-control" name="precio" placeholder="Precio" required="true"
                   type="number">
          </div>
          <div class="form-group">
            <input [(ngModel)]="alimento.foto" class="form-control" name="image"
                   placeholder="Imagen URL" type="url">
          </div>
          <div class="form-group">
            <input [(ngModel)]="alimento.proteinas" class="form-control" name="proteinas" placeholder="Proteinas"
                   required="true" type="number">
          </div>
          <div class="form-group">
            <input [(ngModel)]="alimento.hidratos" class="form-control" name="carbohidratos" placeholder="Carbohidratos"
                   required="true" type="number">
          </div>
          <div class="form-group">
            <input [(ngModel)]="alimento.grasas" class="form-control" name="grasas" placeholder="Grasas"
                   required="true" type="number">
          </div>
          <div class="form-group">
            <input [(ngModel)]="alimento.calorias" class="form-control" name="calorias" placeholder="Calorias"
                   required="true" type="number">
          </div>
          <button (click)="edit ? updateAlimento() : saveAliemnto()" [disabled]="formulario.invalid"
                  class="btn btn-success btn-block" type="submit">
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>


  <div class="col-6">
    <div class="card">
      <img
        [src]="alimento.foto == '' ? 'https://dubsism.files.wordpress.com/2017/12/image-not-found.png?w=547' : alimento.foto"
        alt="" class="card-image-top">
      <div class="card-body text-center p-0">
        <h3 class="mt-2">
          {{alimento.id}}. {{alimento.nombre == '' ? 'Nombre Alimento' : alimento.nombre}}
        </h3>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h4 class="ml-5">
              Tipo:
            </h4>
            <h4 *ngIf="alimento.tipoalimento != ''" class="mr-5">
              {{alimento.tipoalimento}}
            </h4>
          </li>
          <li class="list-group-item">
            <h4 class="ml-5">
              Calorias:
            </h4>
            <h4 *ngIf="alimento.calorias != null" class="mr-5">
              {{alimento.calorias}}
            </h4>
          </li>
          <li class="list-group-item">
            <h4 class="ml-5">
              Proteinas:
            </h4>
            <h4 *ngIf="alimento.proteinas != null" class="mr-5">
              {{alimento.proteinas}}
            </h4>
          </li>
          <li class="list-group-item">
            <h4 class="ml-5">
              Grasas:
            </h4>
            <h4 *ngIf="alimento.grasas != null" class="mr-5">
              {{alimento.grasas}}
            </h4>
          </li>
          <li class="list-group-item">
            <h4 class="ml-5">
              Carbohidratos:
            </h4>
            <h4 *ngIf="alimento.hidratos != null" class="mr-5">
              {{alimento.hidratos}}
            </h4>
          </li>
          <li class="list-group-item precio">
            <h3 class="font-weight-bolder p-0 m-0">
              {{alimento.precio == null ? 'Precio' : alimento.precio + ' €'}}
            </h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

</body>
