h4,h2 {
  font-weight:normal;
  padding: 0px;
  margin: 0px;
}
img {
  max-height: 400px;
}
.precio {
  justify-content: center;
}
li {
  display: flex;
  justify-content: space-between;
}
.borde{
  border: solid 1px red;
}
