<div>
  <div *ngIf="isError" class="alert alert-danger text-center" role="alert">
    <a>Debe haber seleccionado por lo menos un usuario al que asignar el codigo promocional</a><i (click)="isError = !isError" class="fas fa-times float-right"></i>
  </div>
  <div class="row">
    <div class="col-6 text-center">
      <div class="card">
        <div class="card-header bg-success">
          <h3 class="card-text text-white">
            Información del código a Asignar:
          </h3>
        </div>
        <div class="card-body p-0">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h4 class="ml-5 normal">
                Descuento:
              </h4>
              <h4 *ngIf="codi.descuento != null" class="mr-5 normal">
                {{codi.descuento}}%
              </h4>
            </li>
            <li class="list-group-item">
              <h4 class="ml-5 normal">
                Precio mínimo:
              </h4>
              <h4  class="mr-5 normal">
                {{codi.preciominimo == 0 ? 'Inexistente' : codi.preciominimo}}
              </h4>
            </li>
            <li class="list-group-item">
              <h4 class="ml-5 normal">
                Validez:
              </h4>
              <h4  class="mr-5 normal">
                {{codi.validez == null ? 'Inexistente' : getFecha()}}
              </h4>
            </li>
            <li class="list-group-item">
              <h4 class="ml-5 normal">
                Código:
              </h4>
              <h4  class="mr-5 normal">
                {{codi.codigo}}
              </h4>
            </li>
          </ul>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header">
          <h3 class="CARD-TEXT">
            Usuarios seleccionados:
          </h3>
        </div>
        <div class="card-body">
          <a *ngFor="let sele of seleccionados">{{sele.id}}. {{sele.nombre}}, </a>
        </div>
      </div>
      <button [disabled]="loading"  (click)="aplicarDescuentos(  )" type="button" class="btn btn-secondary btn-lg btn-block mt-5">
        Asignar Descuentos
        <i class="fa fa-spinner fa-spin ml-1" *ngIf="loading"></i>
      </button>
    </div>
    <div class="col-6 text-center" id="dialog-window">
      <div id="scrollable-content">
        <h3>Selecciona los usuarios Implicados:</h3>
        <ul class="list-group">
          <li class="list-group-item list-group-item-action" (click)="selectAll()">Selecciona Todos</li>
          <li id="jeje" class="list-group-item list-group-item-action"#div #element (click)="addUser(user, element)"  *ngFor="let user of usuarios">
            {{user.id}}. Nombre: {{user.apellidos}}, {{ user.nombre}}. Correo: {{user.correo}}.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
